.App {
  text-align: center;
  background-color: #f8dbf6;
  margin-top : 6%;
}

.logo{
  width : 10%;
}

.affiche{
  width : 100%;
}

.affiche-img{
  max-width: 100%;
  height: auto;
}

.presentation{
  display: flex;
  flex-direction: column;
}

.card{
  display: flex;
  flex-direction: column;
}

.backend{
  display: flex;
  justify-content: space-around;
}

.frontend{
  display: flex;
  justify-content: space-evenly;
}

.card > h4{
  text-align: center;
}

.card > img {
  display : inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
}